<section *ngIf="userState$ | async as selectedUser; else loading" class="add">
  <h3 class="add__heading">{{selectedUser.id == undefined ? 'Добавить пользователя' : 'Редактировать пользователя'}}</h3>
  <form (ngSubmit)="onSubmit(selectedUser)" #userForm="ngForm" class="add__form">
    <div class="add__form-name form-group">
      <label class="add__form-name__label">Имя</label>
      <input required [(ngModel)]="selectedUser.name" #name="ngModel" name="name" type="text"
        class="add__form-name__input form-control">
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Это поле является обязательным.</div>

    <div class="add__form-phone form-group">
      <label class="add__form-phone__label">Номер телефона</label>
      <input required [(ngModel)]="selectedUser.phone" #phone="ngModel" name="phone" type="number"
        class="add__form-phone__input form-control">
    </div>
    <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">Это поле является обязательным.</div>

    <div class="add__form-desc form-group">
      <label class="add__form-desc__label">Описание</label>
      <textarea required [(ngModel)]="selectedUser.description" #desc="ngModel" name="desc" type="text"
        class="add__form-desc__input form-control"></textarea>
    </div>
    <div [hidden]="desc.valid || desc.pristine" class="alert alert-danger">Это поле является обязательным.</div>

    <button [disabled]="!userForm.form.valid" class="add__form__submit btn btn-success" type="submit">Сохранить</button>
    <button routerLink="" class="add__form__cancel btn btn-default">Отменить</button>
    <button type="button" *ngIf="selectedUser.id !== undefined" (click)="deleteUser(selectedUser.id)" class="add__form__delete btn btn-danger">Удалить</button>
  </form>
</section>
<ng-template #loading>Loading...</ng-template>
