.add {
    &__heading {
        text-align: center;
    }

    &__form {
        max-width: 50%;
        margin: auto;

        &__submit, &__cancel {
            margin-right: 10px;
        }
    }
}
