.users {
    &__heading {
        text-align: center;
    }

    &__btn-create {
        margin-bottom: 10px;
    }

    &-list {
        &__user {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-action {
                &__edit {
                    margin-right: 10px;
                }
            }
        }
    }
}
