<section class="users">
    <h2 class="users__heading">Список пользователей</h2>
    <button routerLink="add-user" class="btn btn-success users__btn-create">Добавить пользователя</button>

    <ul class="users-list list-group">
      <li *ngFor="let user of users$ | async" class="users-list__user list-group-item">
        <section class="users-list__user-desc">
          <div class="users-list__user-desc__name"><strong>Имя:</strong> {{user.name}}</div>
          <div class="users-list__user-desc__phone"><strong>Номер телефона:</strong> {{user.phone}}</div>
          <div class="users-list__user-desc__description"><strong>Описание:</strong> {{user.description}}</div>
        </section>
        <section class="users-list__user-action">
          <button (click)="editUser(user)" class="users-list__user-action__edit btn btn-primary">Редактировать</button>
          <button (click)="deleteUser(user.id)" class="users-list__user-action__delete btn btn-danger">Удалить</button>
        </section>
      </li>
    </ul>

</section>
